<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>VP@THU Flora Questions</title>

    <style type="text/css" media="all">

body {
    background-image: url("https://raw.githubusercontent.com/awchjimmy/api/master/%E6%81%A9%E5%85%B8%E7%9A%84%E8%A8%98%E8%99%9F.png");
    background-size: 100% 100%;
} 

.content {
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 a {
    font-size: 240%;
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

    </style>


</head>
<body>
    {% include 'question/_navbar.html' %}
    <div class="content">
        <h1 class="question"><a href="/question/">{{ q.question_text }}</a></h1>
    </div>
</body>
</html>
